.comments {
//   padding-top: 196px;
  padding-top: 146px;
  display: flex;  
  &__div {
    width: 596px;
    background: #e8e5fb;
    border-radius: 8px;
  }
  ._comments__div1 {
    margin-top: 81px;
  }

  ._comments__divStandart {
      margin-top: 40px;
  }

  ._comment_color2 {
    background: #E8FAF3;
  }

  ._comment_color3 {
   background: #FDEBEE;
  }

  ._comment_color4 {
    background: #E6F3FF;
  }

  ._comment_color5 {
    background: #FFF5E1;
  }



  ._coment_text2 {
    font-size: 18px;
  }

  ._coment_text3 {
    font-size: 16px;
    padding-top: 32px;
  }

  ._afterText2 {
      padding-top: 24px;
  }


  &__wrapper {
    // width: 516px;
    // margin: 0 auto;
    padding: 40px;
  }

  &__column1 {
      padding-right: 40px;
  }

  &__column2 {
    padding-top: 10px;
  }

  &__title {
    font-weight: bold;
    font-size: 48px;
    line-height: 56px;
    color: #100a30;
    max-width: 375px;
    padding-top: 85px;
  }

  &_login {
    font-size: 15px;
    line-height: 24px;
    color: #4c4764;
  }

  &__who {
    display: flex;
    justify-content: space-between;
  }

  &__write {
    display: flex;
  }

  &__img {
    padding-right: 16px;
  }

  &__nameWrapper {
  }

  &__name {
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    color: #100a30;
  }

  &__icon {
  }

  &__text {
    padding-top: 36px;
    font-size: 17px;
    line-height: 30px;
    letter-spacing: 0.18px;
    color: #4c4764;
    max-width: 503px;
  }

  &__afterText {
    padding-top: 20px;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    color: #100a30;
  }
}
